<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Detalle del Producto</title>
<link rel="stylesheet" href="/public/css/detailedProduct.css">
<script src="/public/js/plus-minusButton.js"></script>
<script type="module" src="/public/js/firebaseLogin.js"></script>
<script type="module" src="/public/js/addToCart.js"></script>
</head>
<body>

<header class="header">
        <div class="logo">
            <h1><a href="/">Pastelerias Gourmet</a></h1>
        </div>
        <nav>
            <ul class="navLinks">
                <li><a href="#">Productos</a></li>
                <li><a href="#aboutUs">Sobre nosotros</a></li>
                <li><a href="#">Sucursales</a></li>
                <li><a href="/cart">Carrito</a></li>
            </ul>
        </nav>
        <div id="user-info">
        <!-- Aquí se mostrará el nombre del usuario o el botón de inicio de sesión -->
        </div>

    </header>

<div class="container">
    {{#each products}}
  <div class="product-image">
    <!-- Aquí iría la imagen del producto -->
    <img src="{{this.imageUrl}}" alt="{{this.productName}}">
  </div>
  <div class="product-details">
     <h1 class="product-title">{{this.productName}}</h1>
   <p class="product-price">Precio: {{this.productPrice}}</p>
    <div class="quantity-selector">
      <button name="minusButton" type="button" onclick="minus()">-</button>
      <input type="number" value="1" id="input_cant">
      <button name="addButton" type="button" onclick="more()">+</button>
    </div>
    <button class="add-to-cart" >Agregar Al Carrito</button>
    <div class="description">
      <h2>Detalles</h2>
           <p>{{this.productDescription}}</p>
    </div>
  </div>
  {{/each}}
</div>

</body>
</html>
