<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Edición</title>
    <link rel="stylesheet" href="/public/css/editDialog.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Confirmar Edición de Usuario</h1>
        <p class="subtitle">¿Estás seguro de que deseas editar a {{ user.firstName}} {{ user.lastName }}?</p>
        <form class="formRegister" id="form" action="/update-user/{{ user.id }}" method="POST">
            <div class="formSection">
                <h2>Información personal</h2>
                <input class="inputField" type="text" name="firstname" placeholder="Ingresa tu nombre" value="{{ user.firstName }}">
                <input class="inputField" type="text" name="lastname" placeholder="Ingresa tus apellidos" value="{{ user.lastName }}">
                <input class="inputField" type="number" name="phone" placeholder="Ingresa tu numero de telefono" value="{{ user.phone }}">
                <input class="inputField" type="email" name="email" placeholder="Ingresa tu correo electronico" value="{{ user.email }}">
            </div>
            <div class="formSection">
                <h2>Usuario y contraseña</h2>
                <input class="inputField" type="text" name="username" placeholder="Ingresa tu nombre de usuario" value="{{ user.username }}">
            </div>
            <button class="submitButton" type="submit">Confirmar</button>
            <a href="/show-users" class="cancelButton">Cancelar</a>
        </form>
    </div>
</body>
</html>
